*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #efefef;
}

.timers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 600;
}

.timers div:not(:last-of-type),
.controls button:not(:last-of-type) {
  margin-right: 30px;
}

.controls {
  display: flex;
  justify-content: center;
}
