*,
*:before,
*:after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #efefef;
  color: #606060;
}
