.show-statistics {
  position: absolute;
  top: 20px;
  right: 20px;
}

.statistics-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  width: 80vh;
  max-width: 100vw;
  height: 80vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 10px 40px 0 rgba(8, 10, 14, .25);
  transform: scale(0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: .2s, .16s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.statistics-modal.open {
  transform: scale(1);
  opacity: 1;
}

.statistics-modal .no-data {
  font-size: 1.4em;
  font-weight: 600;
}

.tabs {
  width: 100%;
  height: 100%;
}

.tablist {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.tablist li {
  cursor: default;
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  transition: text-shadow 0.2s ease;
  font-size: 1.1em;
  text-shadow: 0 1px #fff;
  letter-spacing: 0.2px;
}

.tablist li:not(:last-of-type) {
  margin-right: 10px;
}

.tablist li:hover {
  text-shadow: 0 1px lightgray;
}

.tablist li[class*='selected'] {
  border-bottom: 1px solid lightgray;
}

.chart svg {
  height: calc(80vh - 100px);
  margin-right: auto;
  margin-left: auto;
}
